- provide(:title, 'Contact')
%h1 Contact
%p 
	The
	= link_to 'Rails on Rails Tutorial', 'http://railstutorial.org/help'
	is a project to make a book and screencasts to teach web development with
	= link_to 'Rails on Rails.', 'http://railstutorial.org/book'
	This is the contact page where we would find a contact form.